.Rhistory
.RData
.Ruserdata
.Rproj.user/

renv/library/
renv/staging/

data/raw/*
data/processed/*
outputs/models/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/models/.gitkeep

analysis/report.html
analysis/report_files/

.DS_Store
Thumbs.db
